@{
    ViewBag.Title = "Confirm Registration";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Thank you for registering.
</p>
<p class="text-danger">
    Please click this <a href="@ViewBag.Link">link</a> to confirm 
    and then login
</p>
