@using Microsoft.AspNet.Identity
@using FPJobBoard.UI.Models
@using Microsoft.AspNet.Identity.Owin;
@using Microsoft.AspNet.Identity;
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        
            @Html.ActionLink("Hello " + HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>().FindById(User.Identity.GetUserId()).FirstName + " " + HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>().FindById(User.Identity.GetUserId()).LastName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link text-uppercase text-expanded" })
        <ul class="bg-faded">
            <li class="nav-item px-lg-4">
                <a class="nav-link text-uppercase text-expanded" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ul>
    }
}
else
{
    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link text-uppercase text-expanded" })

    @*<ul class="bg-faded">*@
        <li class="nav-item px-lg-4 login-link">
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = " nav-link text-uppercase text-expanded" })
        </li>
    @*</ul>*@
}
